extends ../layout.pug

block content
  .row  
    each m in memes  
      .single-meme.col-sm-4
        h3= m.title
        each t in m.tags
          a.meme-tags(href=`/meme/hashtag/${t._id}`)= `#${t.name} `
        img(src=`${m.image}`, alt=`${m.title}`)
        a.meme-tags(href=`/meme/remove/${m._id}`)= 'Delete'
