<h2>{{currentUser.username}} activity:</h2>
<h3>Posts</h3>
{{#each posts}}
<div>
  <a href="/posts/{{this._id}}/{{this.title}}">
  <h3>{{this.title}}</h3></a>
  <span>posted on {{this.createdOn}}</span>
  <p>{{this.description}}</p>
</div>
{{else}}
<h3>No posts found</h3>
{{/each}}
<h3>Comments</h3>
{{#each comments}}
<div>
  <a href="/posts/{{this.post._id}}/{{this.post.title}}">
  <h3>{{this.post.title}}</h3></a>
  <span>posted on {{this.createdOn}}</span>
  <p>{{this.text}}</p>
</div>
{{else}}
<h3>No comments found</h3>
{{/each}}