<form action="/cars/add" method="POST">
<h2>Add Car</h2>
  <div>
    <label for="make">Make</label>
    <input type="text" id="make" name="make" value="{{this.make}}">
  </div>
  <div>
    <label for="model">Model</label>
    <input type="text" id="model" name="model" value="{{this.model}}">
  </div>
  <div>
    <label for="year">Year</label>
    <input type="number" id="year" name="year" value="{{this.year}}">
  </div>
  <div>
    <label for="pricePerDay">Price Per Day</label>
    <input type="number" id="pricePerDay" name="pricePerDay" value="{{this.pricePerDay}}">
  </div>
  <div>
    <label for="url">Picture</label>
    <input type="url" id="url" name="url" value="{{this.url}}">
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>